.containerCont {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:65px;
}

.containerCard {
    width:80%;
    height: 90%;
    display: flex;
    flex-direction:column;
    position:relative;
    overflow:hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border-top: .8px solid rgba(240, 255, 255, 0.26);
    border-left: .8px solid rgba(240, 255, 255, 0.26);
    box-shadow: 3px 1px 5px rgba(240, 255, 255, 0.26);
}

.containerCard::before {
    content: '';
    position: absolute;
    margin-left:-300px;
    width: 2000px;
    height: 100%;
    background: linear-gradient(crimson, aqua);
    z-index:-1;
    transform:rotate(-45deg) translate(100px, 65%);
}

.containerCard h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align:center;
    background: linear-gradient(crimson, aqua);
    background-clip: text;
    color:transparent;
}

.containerCard .form {
    width: 100%;
    height:100%;
    display:flex;
}

.containerCard .form::before {
    content:'';
    margin-left: -100px;
    position:absolute;
    width:180%;
    height:300px;
    background-color: rgba(240, 248, 255, 0.177);
    transform: rotate(20deg) translateY(300%);
    transition:.5s;
}

.containerCard .form:hover::before {
    transform: rotate(20deg) translateY(-300%);

}

.form form {
    flex-grow: 1;
    width: 100%;
    padding: 0 20px;

}

form input, textarea {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
}

form input:focus, textarea:focus {
    border-color:aqua !important;
    box-shadow: 0 0 2px crimson inset, 0 0 8px aqua;
    outline: 0 none;
}

form label {
    font-size: 1.2rem;
}

form button {
    padding: 10px 8px;
    font-weight: 600;
    text-transform:uppercase;
    background-color: transparent;
    color:azure;
    box-shadow: 2px 2px 5px crimson, -2px -2px 5px aqua;
    transition: 1.2s;
    letter-spacing: .2em;
}

form button:hover {
    cursor:pointer;
    box-shadow: 2px 2px 5px aqua, -2px -2px 5px crimson;
}

.form .containerImage {
    flex-grow:1;
    position:relative;
    width: 30%;
}

.form .containerImage img {
    position:absolute;
}
.contactImage1 {
    transform: translate(-700px, -60%);
    z-index: -1;
}
.contactImage2 {
    transform: translate(-300px, 180%);
}
.contactImage3 {
    transform: translate(20px, -50%);

}

@media (max-width:1200px) {
    .contactImage1 {
        transform: translate(-500px, -70%);
        z-index: -1;
    }
   .contactImage2 {
       transform: translate(-260px, 180%);
    }
    .containerCard::before {
       transform:rotate(-45deg) translate(200px, 45%);
    }
}

@media (max-width:960px) {
    .contactImage1 {
        transform: translate(-500px, -70%);
        z-index: -1;
    }
   .contactImage3 {
       transform: translate(-20px, -50%);
    }
    .containerCard::before {
       transform:rotate(-45deg) translate(300px, 25%);
    }
}
@media (max-width:780px) {
    .contactImage1 {
        transform: translate(-300px, -70%);
        z-index: -1;
    }
   .contactImage3 {
       transform: translate(-40px, -50%) scale(.6);
    }
    .containerCard::before {
       transform:rotate(-45deg) translate(300px, 5%);
    }
}

@media (max-width:500px) {
    .containerCard {
        width:90%;
    }
    .containerCard .form {
        flex-direction: column;
        width: 100%;
    }
    .form form {
        padding: 5px 10px;
        width: 100%;
    }
    form input, textarea {
        width: 90%;
        margin: 5px 0;
        padding: 5px;
    }
    .form form label {
        font-size: 1rem;
    }
    .containerCard h1 {
        font-size: 2rem;
    }
    .contactImage1 {
        transform: translate(-10px, -310%);
        z-index: -1;
    }
    .contactImage2 {
        transform: translate(240px, -120%);
    }
    .contactImage3 {
        transform: translate(20px, -50%);

    }
}
@media (max-width:360px) {
     .contactImage3 {
        transform: translate(10px, -50%) scale(.6);
    }
    .contactImage2 {
        transform: translate(140px, -100%);
    }
}