.App {
  text-align: center;
}

nav {
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  z-index: 3;
}
.active {
  text-decoration: underline 2px white;
}
.imageInitial {
  animation: 1s linear initialImage;
}

.buttonUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

@keyframes initialImage {
  0% {
    opacity: 0.5;
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform:translate(0);
  }
}

.prueba {
  width: 100%;
  height: 100vh;
  position: absolute;
  /* background-color: aqua; */
  backdrop-filter: blur(10px);
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}
.presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.targeta {
  width: 400px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.targeta .font {
  font-size: 35px;
  animation:linear foco 4s infinite;
}

@keyframes foco {
  0% {
    text-shadow: 0 0 5px blue;
  }
  10% {
    text-shadow: 0 0 5px rgb(10, 156, 253);
  }
  20% {
    text-shadow: 0 0 5px rgb(0, 255, 115);
  }
  40% {
    text-shadow: 0 0 5px rgb(162, 0, 255);
  }
  60% {
    text-shadow: 0 0 5px blue;
  }
  80% {
    text-shadow: 0 0 5px rgb(10, 156, 253);
  }
  100% {
    text-shadow: 0 0 5px rgb(0, 255, 115);
  }
}

.saludar {
  animation: linear saludo 3s infinite;
}

@keyframes saludo {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(40deg);

  }
}

.prueba img {
  width: 50%;
  filter: drop-shadow(10px 10px 20px black);
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
  filter: drop-shadow(16px 16px 10px black);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-fondo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container_portafolio {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about .about-center {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.about .about-center .picture {
  width: 40%;
  height: 100%;
}
.about .about-center .motivacion{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  flex-direction: column;
  
}

.motivacion p {
  padding: 10px;
}

.logoAbout{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: right;
  overflow: hidden;
}

.container_contactame {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-target {
  width: 60%;
  height: 40%;
  background-color: rgba(0, 255, 255, 0.555);
  border-radius:10px;
  position: absolute;
}

.formulario {
  width: 104%;
  height: 120%;
  border-radius:10px;
  backdrop-filter: blur(20px);
  position: relative;
  top: -40px;
  left: -10px;
}

.formulario form input {
  width: 70%;
  padding: 8px;
  margin: 5px;
  background-color: transparent;
  border-radius: 5px;
}
.formulario form textarea {
  width: 70%;
  margin: 5px;
  background-color: transparent;
  
}

.target {
  width: 400px;
  height:140px;
  position: absolute;
  z-index: 4;
  border-radius: 8px;
  animation: pop 4s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}

.exit {
  background-color: rgb(137, 245, 209);
}

.error {
  background-color: rgb(248, 114, 141);
}

.buttonForm {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: deepskyblue;
}

.buttonForm:hover{
  background-color: rgb(8, 137, 243);
  cursor: pointer;
}
.mostrador {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.mostrador-imagen {
  width: 100%;
  height:80%;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.imagenesApp {
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.imagenesApp img {
  width: 100%;
  height: 80%;
  border-radius: 8px;
}

.capaInfo {
  width: 100%;
  height: 81%;
  position:relative;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.capaInfo p {
  padding: 10px;
  font-size: 18px;

}

.imagenesApp:hover .capaInfo{
  top: -250px;
}

.imagenesApp button {
  padding: 5px 8px;
  border-radius: 5px;
  cursor:pointer;
  background-color: deepskyblue;
}

.imagenesApp button:hover {
  background-color: rgb(8, 137, 243);
}

.imagenesApp a {
  text-decoration: none;
  color:black;
}

.iconSocial {
  display: flex;
  flex-direction:row-reverse;
  justify-content: center;
  align-items: center;
}

.linkedin {
  background-color: deepskyblue;
}
.github {
  background-color: dimgray;
}
.cv {
  background-color:aliceblue;

}


.iconSocial div {
  font-size: 40px;
  padding:0 10px;

}
.iconSocial div a {
  text-decoration:none;
  color:black;
}
.iconSocial div:hover{
  transform:scale(1.1);
  border-radius:20%;
}
.fuera {
  display: none;
  position:fixed;
  z-index:4;
  top :10px;
  right:10px;
}
.fuera img {
  width: 50px;
  cursor:pointer;
  border-radius:10px;
}

.modeLightDark {
  width:50px;
  height:20px;
  background-color: azure;
  z-index:3;
  position: absolute;
  right: 10px;
  top:80px;
  border-radius: 20px;
  display:flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  transition: all 2s ease;
}

.ball {
  position: relative;
  width: 30px;
  background-color: black;
  border-radius:50%;
  
}

.light {
  width:22px;
  cursor:pointer;
  z-index: 3;
  color: azure;
}
.dark {
  width:22px;
  cursor:pointer;
  z-index: 3;
  color:azure;
}


@media (max-width: 1000px) {
  nav ul {
    width: 60%;
  }
  .about .about-center {
    width:100%;
  }
}

@media (max-width : 820px) {
  .fuera {
    display:block;
  }
  nav {
    height: 150px;
    top: -155px;
    justify-content: center;
    transition: all 2s ease;
  }
  nav ul {
    flex-direction:column;
  }
  
}

@media (max-width: 800px){
  .about-center {
    flex-direction:column;
  }
  .about .about-center .motivacion {
    width:100%;
  }
  .picture {
    height: 300px;
    width: 350px;
  }
  .targeta {
    font-size: 12px;
  }

}

@media (max-width: 400px) {
  .iconSocial {
    top:300px;
    left: -60px;
  }
  .iconSocial img{
    width:40px;
  }
}